# class Files Excluder
/**/*.class

# txt Files Excluder
/**/*.txt

#Python Files Excluder
/**/*.py 

#exe Files Excluder
/**/*.exe

#exe Files Excluder
/**/*.out

#vscode Config Excluder
.vscode

.classpath
.project